@charset "UTF-8";

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: 615px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: auto;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
	
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

margenes{
	padding-left: ($spacer * .5) ;
}

.card{
	position: relative;
	margin-top: 15px;
}

#btnm{
	margin-top: 15px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#dpinstrumentos{
	margin-top: 15px;
}
#listproducto{
	margin-top: 30px;
	overflow: scroll;
	max-height: 200px;
}
#addcart{
	margin-top: 30px;
}
#tablapadre{
	overflow: scroll;
}
.tall{
	height: 800px;	
	
}
Para hacer scrolleable listProductos
<!--overflow: scroll;-->